# Python venv
venv/
.env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDE/editor stuff
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
